@charset "utf-8";
/* CSS Document */
* {margin:auto;}

.container {width:600px; height:200px; position:relative; background:#fff; overflow:hidden;}

.left-bg {position:absolute; left:-158px;}
.left-bg-ad {left:0px; position:absolute; transition:all 1s ease-in-out; }

.right-bg {position:absolute; right:-533px;}
.right-bg-ad {right:0px; position:absolute; transition:all 1s ease-in-out; }

.food-pkt {position:absolute; left:0px; bottom:0px; display:none;}
.burger {position:absolute; right:0px; bottom:0px; display:none;}
.star {position:absolute; top:-10px; right:0px; display:none;}
.star1 {transform:rotate(740deg); transition: all 7s linear;}
.star-txt {position:absolute; top:18px; right:16px; display:none;}


.logo {position:absolute; bottom:-70px; left:175px;}
.logo1 {position:absolute; bottom:15px; left:175px; transition: all 1s ease-in-out;}
.txt {position:absolute; top:-150px; left:170px;}
.txt1 {position:absolute; top:25px; left:170px; transition: all 1s ease-in-out;}
